[submodule "site-lisp/claude-code-repo"]
	path = site-lisp/claude-code-repo
	url = git@github.com:emuio/claude-code.el.git
[submodule "site-lisp/e-code-cli"]
	path = site-lisp/e-code-cli
	url = https://github.com/emuio/e-code-cli.git
[submodule "site-lisp/codex.el"]
	path = site-lisp/codex.el
	url = git@github.com:emuio/codex.el.git
[submodule "site-lisp/package/emacs-codex-ide"]
	path = site-lisp/package/emacs-codex-ide
	url = git@github.com:emuio/emacs-codex-ide.git
	branch = dev
